@import "../../../variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: initial;
  }
  .header--github-repo,
  .header--credit {
    text-align: right;
    @media (max-width: 768px) {
      text-align: left;
    }
    a {
      color: $main-color;
      text-decoration: none;
    }
  }
  .header--github-repo {
    font-size: 120%;
    margin-bottom: 15px;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #0033ff;
    }
  }
}
