@import '../../_variables.scss';

.class {
  padding-top: 10px;
  padding-bottom: 10px;
}

.students {
  table {
    border: 1px solid #000000;
    border-collapse: collapse;
    tr,
    th,
    td {
      border: 1px solid #000000;
    }
    th,
    td {
      padding: 10px;
    }
    tbody > tr {
      &:hover {
        background-color: $main-color;
        color: #ffffff;
      }
    }
  }
}
