.student {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .student--excel {
    height: 34px;
      align-self: center;
  }
}

.classes {
  table {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-collapse: collapse;
    tr,
    th,
    td {
      border: 1px solid #000000;
    }
    th,
    td {
      padding: 10px;
    }
    thead {
      tr {
        th {
          &:nth-child(1) {
            width: 20px;
          }
          &:nth-child(n+2) {
            width: 200px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &.period {
            width: 200px;
            text-align: center;
          }
        }
        td.subject {
          .subject--name {
            text-decoration: underline;
          }
          .subject--lecturer {
            font-style: italic;
          }
        }
        td.subject.focus {
          background-color: #0099ff;
          color: #ffffff;
        }
        td.subject:hover {
          background-color: #0099ff;
          color: #ffffff;
        }
      }
    }
  }
}
