.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header--credit {
        text-align: right;
        a {
            color: #0099ff;
            text-decoration: none;
        }
    }
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    .form--input {
        height: 30px;
        flex: 1;
        border-radius: 0;
        border: 1px solid #333333;
    }
}

.form--button {
    margin-left: 10px;
    border-radius: 0;
    border: 0;
    background-color: #0099ff;
    color: #ffffff;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}

.student {
    padding-top: 10px;
    padding-bottom: 10px;
}

.classes {
    table {
        box-sizing: border-box;
        border: 1px solid #000000;
        border-collapse: collapse;
        thead {
            tr {
                border-collapse: collapse;
                th {
                    border: 1px solid #000000;
                    padding: 10px 10px;
                    &:nth-child(1) {
                        width: 20px;
                    }
                    &:nth-child(n+2) {
                        width: 200px;
                    }
                }
            }
        }
        tbody {
            tr {
                border-collapse: collapse;
                td {
                    border: 1px solid #000000;
                    padding: 10px 10px;
                    &.period {
                        text-align:center;
                    }
                }
                td.subject {
                    .subject--name {
                        text-decoration: underline;
                    }
                    .subject--lecturer {
                        font-style: italic;
                    }
                }
                td.subject:hover {
                    background-color: #0099ff;
                    color: #ffffff;
                }
            }
        }
    }
}
